<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
    
    <td>

      <table>
        <% post.comments.each do |comment| %>
          <tr>
             <td><%= comment.content %></td> 
          </tr>
        <% end %>
      </table>
    
    </td>

    <td>
      <div>
        <%= form_for [post, Comment.new] do |f| %>
            <%= f.label :content, "New comment" %>
            <%= f.text_area :content, rows: "5", cols: "10" %>
        <%= f.submit "Add comment" %>
        <% end %>
      </div>
    </td>
    
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
