<h1>Listing posts</h1>

<div>

<%= form_tag '/posts', method: :get do %>

<p>
<%= text_field_tag 'query', params[:query]  %>
<%= submit_tag 'search', name: nil %>
</p>

<% end %>

</div>

<table id="posts">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr></tr><tr></tr><tr></tr>

<%= render partial: 'posts' %>

</table>

<br />

<%= link_to 'New Post', new_post_path %>

<%= will_paginate @posts %>
